<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forex Converter</title>
    <link rel="stylesheet" href="/static/app.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body id="body">
    <div id="mainDiv">
      <div class="inputs">
        <h3>Currency Converter</h3>
      </div>
      {% with msgs = get_flashed_messages(with_categories=true) %} {% if msgs%}
      {% for category, msg in msgs%}
      <div class="{{category}}">
        {{msg}}
      </div>
      {%endfor%} {%endif%} {%endwith%}
      <form action="/convert">
        <div class="inputs">
          <label for="start">Converting from</label>
          <input type="text" name="start" placeholder="(eg, USD, EUR, JPY)" />
        </div>
        <div class="inputs">
          <label for="end">Converting to</label>
          <input type="text" name="end" placeholder="(eg, USD, EUR, JPY)" />
        </div>
        <div class="inputs">
          <label for="amount">Amount:</label>
          <input type="text" name="amount" placeholder="" />
        </div>
        <div class="inputs">
          <button type="submit" class="btn btn-primary">Convert</button>
        </div>
      </form>
    </div>
  </body>
</html>
